body.dark .markdown-body h1 .octicon-link,
body.dark .markdown-body h2 .octicon-link,
body.dark .markdown-body h3 .octicon-link,
body.dark .markdown-body h4 .octicon-link,
body.dark .markdown-body h5 .octicon-link,
body.dark .markdown-body h6 .octicon-link {
  color: #1b1f23;
}

body.dark .markdown-body {
  color: #eee;
}
body.dark .markdown-body a {
  color: #3794ff;
}
body.dark .markdown-body kbd {
  color: #444d56;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  box-shadow: inset 0 -1px 0 #d1d5da;
}

body.dark .markdown-body :checked + .radio-label {
  border-color: #0366d6;
}

body.dark .markdown-body .border {
  border: 1px solid #e1e4e8 !important;
}

body.dark .markdown-body .border-bottom {
  border-bottom: 1px solid #e1e4e8 !important;
}

body.dark .markdown-body .bg-white {
  background-color: #fff !important;
}

body.dark .markdown-body .bg-gray-light {
  background-color: #fafbfc !important;
}

body.dark .markdown-body .text-gray-light {
  color: #6a737d !important;
}

body.dark .markdown-body .pl-c {
  color: #6a737d;
}

body.dark .markdown-body .pl-c1,
body.dark .markdown-body .pl-s .pl-v {
  color: #005cc5;
}

body.dark .markdown-body .pl-e,
body.dark .markdown-body .pl-en {
  color: #6f42c1;
}

body.dark .markdown-body .pl-s .pl-s1,
body.dark .markdown-body .pl-smi {
  color: #24292e;
}

body.dark .markdown-body .pl-ent {
  color: #22863a;
}

body.dark .markdown-body .pl-k {
  color: #d73a49;
}

body.dark .markdown-body .pl-pds,
body.dark .markdown-body .pl-s,
body.dark .markdown-body .pl-s .pl-pse .pl-s1,
body.dark .markdown-body .pl-sr,
body.dark .markdown-body .pl-sr .pl-cce,
body.dark .markdown-body .pl-sr .pl-sra,
body.dark .markdown-body .pl-sr .pl-sre {
  color: #032f62;
}

body.dark .markdown-body .pl-smw,
body.dark .markdown-body .pl-v {
  color: #e36209;
}

body.dark .markdown-body .pl-bu {
  color: #b31d28;
}

body.dark .markdown-body .pl-ii {
  color: #fafbfc;
  background-color: #b31d28;
}

body.dark .markdown-body .pl-c2 {
  color: #fafbfc;
  background-color: #d73a49;
}

body.dark .markdown-body .pl-sr .pl-cce {
  color: #22863a;
}

body.dark .markdown-body .pl-ml {
  color: #735c0f;
}

body.dark .markdown-body .pl-mh,
body.dark .markdown-body .pl-mh .pl-en,
body.dark .markdown-body .pl-ms {
  color: #005cc5;
}

body.dark .markdown-body .pl-mi {
  color: #24292e;
}

body.dark .markdown-body .pl-mb {
  color: #24292e;
}

body.dark .markdown-body .pl-md {
  color: #b31d28;
  background-color: #ffeef0;
}

body.dark .markdown-body .pl-mi1 {
  color: #22863a;
  background-color: #f0fff4;
}

body.dark .markdown-body .pl-mc {
  color: #e36209;
  background-color: #ffebda;
}

body.dark .markdown-body .pl-mi2 {
  color: #f6f8fa;
  background-color: #005cc5;
}

body.dark .markdown-body .pl-mdr {
  font-weight: 700;
  color: #6f42c1;
}

body.dark .markdown-body .pl-ba {
  color: #586069;
}

body.dark .markdown-body .pl-sg {
  color: #959da5;
}

body.dark .markdown-body .pl-corl {
  color: #032f62;
}

body.dark .markdown-body hr {
  border-bottom-color: #eee;
}

body.dark .markdown-body kbd {
  color: #444d56;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  box-shadow: inset 0 -1px 0 #d1d5da;
}

body.dark .markdown-body hr {
  background-color: #e1e4e8;
}

body.dark .markdown-body blockquote {
  color: #eee;
  border-left: 0.25em solid #dfe2e5;
}

body.dark .markdown-body h1,
body.dark .markdown-body h2 {
  border-bottom: 1px solid #eaecef;
}

body.dark .markdown-body h6 {
  color: #eee;
}

body.dark .markdown-body table td,
body.dark .markdown-body table th {
  border: 1px solid #dfe2e5;
}

body.dark .markdown-body table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

body.dark .markdown-body table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

body.dark .markdown-body img {
  background-color: #fff;
}

body.dark .markdown-body code {
  background-color: rgba(27, 31, 35, 0.05);
}

body.dark .markdown-body .commit-tease-sha {
  color: #444d56;
}

body.dark .markdown-body .full-commit .btn-outline:not(:disabled):hover {
  color: #005cc5;
  border-color: #005cc5;
}

body.dark .markdown-body .blob-num {
  color: rgba(27, 31, 35, 0.3);
}

body.dark .markdown-body .blob-num:hover {
  color: rgba(27, 31, 35, 0.6);
}

body.dark .markdown-body .blob-code-inner {
  color: #24292e;
}

body.dark .markdown-body .pl-token.active,
body.dark .markdown-body .pl-token:hover {
  background: #ffea7f;
}
